{% load i18n %}
<form method="post" action="{% url 'tracking:research' %}">
    {% csrf_token %}
    {% include "tracking/components/forms/_field.html" with field=form.q %}
    {% if mode == "advanced" %}
        <button class="btn btn-outline-secondary mb-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#searchFilters">{% trans "Filters" %}</button>
        <div class="collapse mt-3" id="searchFilters">
            <div class="card bg-dark border-secondary text-light">
                <div class="card-body">
                    <h5 class="mb-3">📺 {% trans "Type" %}</h5>
                    {% include "tracking/components/forms/_checkbox_group.html" with field=form.type %}
                    <hr class="border-secondary">
                    <h5 class="mb-3">⭐ {% trans "Score" %}</h5>
                    {% include "tracking/components/forms/_number_range.html" with min_field=form.min_score max_field=form.max_score %}
                    <hr class="border-secondary">
                    <h5 class="mb-3">🔞 {% trans "Ranking" %}</h5>
                    {% include "tracking/components/forms/_field.html" with field=form.rating %}
                    <hr class="border-secondary">
                    <h5 class="mb-3">
                        <button class="btn btn-outline-light w-100 text-start"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#genresOptions"
                                aria-expanded="false"
                                aria-controls="genresOptions">🎭 {% trans "Genres" %}</button>
                    </h5>
                    <div class="collapse mb-3" id="genresOptions">
                        {% include "tracking/components/forms/_checkbox_group.html" with field=form.genres %}
                    </div>
                    <hr class="border-secondary">
                    <h5 class="mb-3">
                        <button class="btn btn-outline-light w-100 text-start"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#themesOptions"
                                aria-expanded="false"
                                aria-controls="themesOptions">✨ {% trans "Themes" %}</button>
                    </h5>
                    <div class="collapse mb-3" id="themesOptions">
                        {% include "tracking/components/forms/_checkbox_group.html" with field=form.themes %}
                    </div>
                    <hr class="border-secondary">
                    <h5 class="mb-3">
                        <button class="btn btn-outline-light w-100 text-start"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#demographicsOptions"
                                aria-expanded="false"
                                aria-controls="demographicsOptions">👥 {% trans "Public" %}</button>
                    </h5>
                    <div class="collapse mb-3" id="demographicsOptions">
                        {% include "tracking/components/forms/_checkbox_group.html" with field=form.demographics %}
                    </div>
                    <hr class="border-secondary">
                    {% include "tracking/components/forms/_field.html" with field=form.sfw %}
                </div>
            </div>
        </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
</form>
