{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrackAPP</title>
  </head>
  <body>
    <h1>Bienvenue</h1>
    {% for media in medias %}
    <p>{{ media.mal_id }}</p>
    <p>{{ media.title }}</p>
    <p>Statut : {{ media.status }}</p>
    <img src="{{ media.images.medium_image_url }}" alt="Sorry" />
    {% endfor %}
    <h2>Search bar</h2>
    <form action="{% url 'tracking:research' %}" method="post">
      {% csrf_token %} {{ search_form }}
      <input type="submit" value="Valider" />
    </form>
  </body>
  Listes de lecture {% for watchlist in watchlists %}
  <p>{{ watchlist.name }}</p>
  {% endfor %}
</html>
