{% extends "tracking/base.html" %}
{% load i18n %}
{% block title %}
  Accueil | TrackAPP
{% endblock title %}
{% block content %}
  <h1 class="mb-4">TrackAPP</h1>
  <div class="card mb-5">
    <div class="card-body">
      <h2 class="card-title">{% trans "Research for an anime or a manga" %}</h2>
      {% include "tracking/components/forms/_search_form.html" with form=search_form mode="advanced" %}
    </div>
  </div>
  <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <select name="language">
      <option value="fr">Français</option>
      <option value="en">English</option>
    </select>
    <button type="submit">{% trans "Change" %}</button>
  </form>
  <h2 class="mb-4">{% trans "My ongoing medias" %}</h2>
  {% if medias %}
    <div class="row">
      {% for media in medias %}
        <div class="col-md-6 col-lg-4 mb-4">{% include "tracking/components/_media_card.html" %}</div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-secondary">{% trans "No ongoing medias" %}.</div>
  {% endif %}
  <hr class="my-5" />
  <h2 class="mb-4">{% trans "My watchlists" %}</h2>
  {% if watchlists %}
    <div class="list-group">
      {% for watchlist in watchlists %}
        <a href="{% url 'tracking:watchlist_details' watchlist.name %}"
           class="list-group-item list-group-item-action">
          {{ watchlist.name }}
          <span class="badge bg-secondary float-end">{{ watchlist.medias|length }}</span>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-secondary">{% trans "No created watchlist" %}.</div>
  {% endif %}
{% endblock content %}
