{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrackAPP</title>
  </head>
  <body>
    <a href="{% url 'tracking:index' %}">HOME</a>
    <h2>{{ media.title }}</h2>
    <a href="{% url 'tracking:finish_media' media.type media.mal_id %}">FINI</a>
    <img src="{{ media.images.webp.medium_image_url }}" alt="" />
    <a href="{% url 'tracking:add_to_watchlist' media.type media.mal_id %}"
      >Ajout à une liste</a
    >
    <select name="quantity">
      {% if media.type == "anime" %} {% for i in media.number_episodes %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %} {%else %} {% for i in media.number_volumes %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %} {% endif %}
    </select>

    <form method="post">
      {% csrf_token %} {{ section_number_form }}
      <button type="submit">Valider</button>
    </form>
  </body>
</html>
