{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrackAPP</title>
  </head>
  <body>
    <h2>Search bar</h2>
    <a href="{% url 'tracking:index' %}">HOME</a>
    <form method="post">
      {% csrf_token %} {{ search_form }}
      <input type="submit" value="Valider" />
    </form>
    <h1>Résultats</h1>
    {% for media in search_results %}
      <a href="{% url 'tracking:media_details' media.type media.mal_id %}">
        <p>Numéro : {{ media.mal_id }} - Titre : {{ media.title }}</p>
        <p>Statut : {{ media.status }}</p>
        <img src="{{ media.images.jpg.medium_image_url }}" alt="" />
      </a>
    {% endfor %}
  </body>
</html>
