{% extends "tracking/base.html" %}
{% block title %}
    Recherche | TrackAPP
{% endblock title %}
{% block content %}
    <h1 class="mb-4">Résultats de la recherche</h1>
    <div class="card mb-5">
        <div class="card-body">
            <h2 class="card-title">Nouvelle recherche</h2>
            {% include "tracking/components/forms/_search_form.html" with form=search_form mode="advanced" %}
        </div>
    </div>
    {% if search_results %}
        <div class="row">
            {% for media in search_results %}
                <div class="col-md-6 col-lg-4 mb-4">{% include "tracking/components/media/_media_card.html" %}</div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-secondary">Aucun résultat trouvé.</div>
    {% endif %}
{% endblock content %}
