{% extends "tracking/components/_base_media_card.html" %}
{% load i18n %}
{% block cardbody %}
    <div class="mt-auto">
        <p class="small text-muted mb-3">{% trans "Next section" %} : {{ media.user_current_section }}</p>
    </div>
    <form method="post"
          action="{% url 'tracking:complete_next' media.media_type.value media.mal_id %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        <button class="btn btn-success" type="submit">Section suivante</button>
    </form>
{% endblock cardbody %}
